# operators and calculations
<br>
Operators can be used for a variety of tasks including calculations, <b> operators </b> are the symbols that names the type of calculation to be performed in the formula.

## Assignment operators
They are used to assign values to a varibale and vectors.
example, the sales variable noe refers to our entire vector.

In [15]:
sales <-c(67.00,75.21,90.00,54.75,25.25)
name="chetanyadav"

## Arithmetic Calcculations
These are used to perform mathematical operations,
+,-,*,/, %%,%/%,^

In [16]:
a<-7.5
b<-2
a+b
a/b
a%%b
a%/%b

[1] 9.5

[1] 3.75

[1] 1.5

[1] 3

## Relational operators
In R, relational operators are used to compare two values or expressions and return a logical value of TRUE or FALSE.
<Br> < > == <= >= !=

In [17]:
a<-58
b<-29.3
a==b
a>b
a<=b
a!=b

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

## Logical operators
n R, logical operators are used to perform logical operations on one or more logical values or expressions. <br>
<ul>
<li><b>&:</b> the logical AND operator. It returns TRUE if both operands are TRUE, and FALSE otherwise.
<li><b>|:</b> the logical OR operator. It returns TRUE if at least one of the operands is TRUE, and FALSE otherwise.
<li><b>!:</b> the logical NOT operator. It returns the opposite of the operand. If the operand is TRUE, it returns FALSE, and if the operand is FALSE, it returns TRUE.
<li><b>&&:</b> the short-circuit logical AND operator. It returns FALSE if the first operand is FALSE, otherwise it evaluates the second operand.
<li><b>||:</b> the short-circuit logical OR operator. It returns TRUE if the first operand is TRUE, otherwise it evaluates the second operand.</ul>

In [18]:
v<-c(3.5,TRUE,0)
g<-c(4.0,FALSE,9)
print(v&g)
print(v&&g)
v|g
!v

[1]  TRUE FALSE FALSE
[1] TRUE

[1] TRUE TRUE TRUE

[1] FALSE FALSE  TRUE